//BACKGROUNDS
$page-bg:             #f7f8fa;
$sidebar-bg:          #e9f0f5;
$content-bg:          #ffffff;

//TEXT COLORS
$text-color:          #334152;
$text-color_light:    #53687e;
$heading-color:       #53687e;
$unfilled-color:      #8c96a3;

//ELEMENTS COLORS
$input-bg:            #f7f8fa;
$border-color:        #d8dde3;

//SITE COLORS
$primary-color:       #175786;
$primary-color_light: #2888d1;
$secondary-color:     #b7bdc4;
$white-color:         #ffffff;